<div class="dashboard-header">
    <a class="button button-primary" href="/dashboard">Dashboard</a>
    <a class="button button-primary" href="/dashboard/projects">Projects</a>
    <a class="button button-primary" href="/dashboard/notes">Notes</a>
    <a class="button button-primary" href="/logout">Log out</a>
</div>