<footer>
    <p>© 2020 | Tyler Jones</p>
    <div class="social-media-blurb">
        <span><a class="social-media-icon" href="mailto:tjjones93@gmail.com" target="_blank" rel="noopener"><i
                    class="fas fa-envelope-square"></i></a></span>
        <span><a class="social-media-icon" href="https://github.com/PoorBillyPilgrim" target="_blank" rel="noopener"><i
                    class="fab fa-github"></i></a></span>
        <span><a class="social-media-icon" href="https://www.linkedin.com/in/tyler-jones-2a0a84143/"><i
                    class="fab fa-linkedin"></i></a></span>
    </div>
</footer>

<script type="text/javascript" src="js/index.js"></script>
</body>

</html>