<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>tylerjones.info</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon_io//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon_io//favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

</head>

<body class="bg-light">
  <nav class="container">
    <ul>
      <li class="li-l"><a href="https://tylerjones.info"><strong>Tyler Jones</strong></a></li>
      <li class="li-mid"><a href="#">about</a></li>
      <li class="li-mid"><a href="#">projects</a></li>
      <li class="li-mid"><a href="#">notes</a></li>
      <li class="li-mid"><a href="#">contact</a></li>
      <li>
        <button class="toggle-dark-mode dark-mode-btn">
          <img src="images/moon-32x32.png" class="nav-btn">
        </button>
      </li>
    </ul>
  </nav>