<%- include('../partials/header.ejs') %>
<%- include('../partials/dashboardHeader.ejs') %>
<div>
    <form class="dashboard-index" action="dashboard" method="POST">
        <input class="button-primary" name="projects" type="submit" value="projects">
        <input class="button-primary" name="notes" type="submit" value="notes">
    </form>
</div>
<%- include('../partials/dashboardFooter.ejs') %>