<%- include('partials/header.ejs') %>
<main class="error-page">
    <div class="error-card">
        <h1>404</h1>
        <p>Sorry, don't have this page. Here's my first day of 6th grade for your troubles.</p>
        <img src="/images/sixth-grade.jpeg">
    </div>
</main>
<%- include('partials/footer.ejs') %>