<%- include('partials/header.ejs') %>
<div class="container">
    <div class="hero">
        <img class="hero-img" src="images/playing-bass-color.png">
        <div class="hero-blurb">
            <h1 classs="">Hi, I'm Tyler Jones.</h1>
            <p>I work in libraries, and I enjoy coding.</p>
            <a class="social-media-icon" href="https://github.com/PoorBillyPilgrim" target="_blank" rel="noopener"><i
                    class="fab fa-github"></i></a>
        </div>
    </div>

</div>
<%- include('partials/footer.ejs') %>