<%- include('partials/header.ejs') %>
<form class="container">
    <label for="username">Username</label>
    <input id="username">
    <label for="password">Password</label>
    <input type="password" id="password">
</form>
<%- include('partials/footer.ejs') %>