<%- include('partials/header.ejs') %>
<div class="notes-container">
    <h1><%= note.title %></h1>
    <%- note.sanitizedHtml %>
</div>
<script type="text/javascript" src="/js/notes/index.js"></script>
<%- include('partials/dashboardFooter.ejs') %>