/** Global **/ 
:root {
    --light: #f8f9fa;
    --dark: #343a40;
}

.dark-mode {
    background-color: var(--dark);
    color: var(--light);
}

a {
    text-decoration: none;
}

p a {
    color: #FFA5A5;
}

a:hover {
    color: #ff8080;
}

/** Light Theme **/ 
.toggle-dark-mode {
    background: transparent;
    border: 0;
}

.bg-light {
    background-color: var(--light);
}

.a-light {
    color: #C83E4D;
}

.social-light {
    color: #282828;
}

.a-light:hover, 
.social-light:hover,
.nav-light:hover {
    color: #b33241;
}

/** Navbar **/
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

nav a {
    color: #707070;
}

.li-l {
    margin-right: auto;
}

.li-mid {
    padding: 0 7.5px;
}

.dark-mode-btn {
    padding: 0;
}

.dark-mode-btn img {
    width: 65%;
}

/** Hero **/
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    border-radius: 100%;
    width: 75%;
}

.hero-blurb h1, 
.hero-blurb p {
    padding-bottom: 0;
    margin: 0;
    text-align: center;
}

.social-media-blurb {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media-icon {
    font-size: 30px;
    color: #fff;
    padding: 0 2.5px;
}

/** screens wider than 750px **/
@media (min-width: 750px) {

    /** Hero **/
    .hero {
        display: flex;
        flex-direction: row;
    }

    .hero-img {
        border-radius: 100%;
        width: 50%;
    }
    
    .hero-blurb {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .hero-blurb h1, 
    .hero-blurb p {
        padding-left: 10px;
        margin: 0;
        text-align: left;
    }

    .social-media-blurb {
        justify-content: flex-start;
    }
}