/** Global **/ 
:root {
    --light: #f8f9fa;
    --dark: #343a40;
}

body {
    min-height: 100vh;
}

main {
    min-height: 75vh;
}

h2 {
    text-align: center;
    margin: 3.5rem 0;
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

hr {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: var(--light);
}

p a {
    color: #FFA5A5;
}

a:hover {
    color: #ff8080;
}

.dark-mode {
    background-color: var(--dark);
    color: var(--light);
}

.card {
    border: 2px solid var(--light);
    border-radius: 20px;
    width: 50%;
    margin: 10px 0;
    padding: 10px;
}

.card .btns {
    display: flex;
    flex-direction: row;
}

.btns form {
    margin: 0 5px 0 0;
}

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -15px 0 15px 0;
}

.error-card {
    text-align: center;
}

.error-card img {
    width: 30%;
}

/** Light Theme **/ 
.toggle-dark-mode {
    background: transparent;
    border: 0;
}

.bg-light {
    background-color: var(--light);
}

.projects-card-light {
    background-color: var(--light);
    border: 1px solid var(--light);
}

.notes-card-light {
    background-color: var(--light);
    border: 1px solid var(--light);
}

.a-light {
    color: #C83E4D;
}

.social-light {
    color: #282828;
}

.nav-light {
    color: #000;
}

.a-light:hover, 
.social-light:hover,
.nav-light:hover {
    color: #b33241;
}

/** Navbar **/
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.li-l {
    margin-right: auto;
}

.li-mid {
    padding: 0 7.5px;
}

.dark-mode-btn {
    padding: 0;
}

.dark-mode-btn img {
    width: 65%;
}

/** Hero **/
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    border-radius: 100%;
    width: 75%;
}

.hero-blurb h1, 
.hero-blurb p {
    padding-bottom: 0;
    margin: 0;
    text-align: center;
}

.social-media-blurb {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media-icon {
    font-size: 30px;
    color: #fff;
    padding: 0 2.5px;
}

/** Homepage -- Projects Section **/

.projects-card {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(34, 38, 42, 0.5);
}

.projects-card-dark {
    border: 1px solid #22262a;
    background-color: #22262a;
}

.projects-card-item {
    padding-left: 7.5px;
}

.projects-img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.projects-img:hover {
    opacity: 0.6;
    color: #ff8080;
}

/** Homepage -- Notes Section **/
.notes-card {
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(34, 38, 42, 0.5);
}

.notes-card-dark {
    border: 1px solid #22262a;
    background-color: #22262a;
}

.note-card:hover {
    opacity: 0.6;
}

/** Dashboard **/
input,
textarea {
    color: var(--dark);
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard-header .button {
    width: 130px;
    margin: 0 15px;
}

.dashboard-index input {
    margin: 0 15px 15px;
    width: 25%;
}

.login-page, 
.dashboard-index,
.dashboard-form {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-page {
    margin-top: 100px;
}

.dashboard-index {
    margin-top: 150px;
}

.dashboard-form {
    margin-top: 15px;
}

.dashboard-form input,
.dashboard-form textarea {
    width: 50%;
}

.markdown-input {
    height: 700px;
}

.button-delete {
    background-color: #EF2D56;
    border: 1px solid #EF2D56;
    color: var(--light);
}

.button-delete:hover {
    background-color: #ed1241;
    border: 1px solid #ed1241;
    color: var(--light);
}

.note-title-err {
    padding: 10px;
    margin-top: 3.5rem;
    background-color: #EF2D56;
    color: var(--light);
    border-radius: 5px;
    width: 33%;
    text-align: center;
}

.note-title-err p {
    margin-bottom: 0;
    margin: auto;
}

/** Footer **/ 
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
}

footer .social-media-blurb {
    justify-content: center;
}

/** screens wider than 750px **/
@media (min-width: 1000px) {
    /** Global **/
    
    /** Home Page -- Hero **/
    .hero {
        display: flex;
        flex-direction: row;
    }

    .hero-img {
        border-radius: 100%;
        width: 50%;
    }
    
    .hero-blurb {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .hero-blurb h1, 
    .hero-blurb p {
        padding-left: 10px;
        margin: 0;
        text-align: left;
    }

    .social-media-blurb {
        justify-content: flex-start;
    }

    /** Home Page -- Projects **/
    .projects-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fill, auto);
        grid-row-gap: 15px;
    }

    .projects-card {
        margin: 0 10px 0;
    }

    span.projects-card-item {
        margin-top: auto;
    }
}